name: Run Go integration tests

on:
  push:
    branches:
      - "main"
      - "staging"
  pull_request:
<<<<<<< HEAD
    branches:
=======
>>>>>>> 17382e8 (ci: update pull_requests matrix to single lines, add staging)
      - "main"
      - "staging"

jobs:

  Tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        version: [ 'stable', 'oldstable' ]
        mod-dir:
          - maths
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.version }}

    - name: Test
      run: |
        cd ${{ matrix.mod-dir }}
        go test -v ./...

