name: Tests

on:
  push:
    branches:
      - "main"
      - "staging"
  pull_request:
    branches:
      - "main"
      - "staging"

jobs:

  Tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        version: [ 'stable', 'oldstable' ]
        mod-dir:
          - maths
    runs-on: ${{ matrix.os }}
    env:
      commit_hash: $GITHUB_SHA
      commit_hash_short: $(git rev-parse --short "$GITHUB_SHA")

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.version }}

    - name: Build
      run: |
        cd ${{ matrix.mod-dir }}
        go build -v ./...

    - name: Test
      run: |
        cd ${{ matrix.mod-dir }}
        go test -v ./...

